#dmenu {
    text-align: center;
}
#menu {
    text-align: center;
    margin: -40px 0 0 185px;

}
#bg {
    background-color: #689CD2;
}
#navbarSupportedContent {
    background-color: #1a202c;
}
.btnBase, #navbarSupportedContent {
    background-color: #718096;
}
